In [1]:
import numpy as np
import pandas as pd
import nltk

In [9]:
pd.set_option('display.max_colwidth',None)

data = pd.read_csv('C:/Users/beind/Downloads/amazon_cells_labelled.csv')

In [10]:
data.head()

,So there is no way for me to plug it in here in the US unless I go by a converter.,0,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Good case,Excellent value.,1,NaN,NaN,NaN
1,Great for the jawbone.,1,NaN,NaN,NaN,NaN
2,Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!,0,NaN,NaN,NaN,NaN
3,The mic is great.,1,NaN,NaN,NaN,NaN
4,I have to jiggle the plug to get it to line up right to get decent volume.,0,NaN,NaN,NaN,NaN

In [12]:
data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5'],axis=1)

,So there is no way for me to plug it in here in the US unless I go by a converter.,0
0,Good case,Excellent value.
1,Great for the jawbone.,1
2,Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!,0
3,The mic is great.,1
4,I have to jiggle the plug to get it to line up right to get decent volume.,0
...,...,...
994,The screen does get smudged easily because it touches your ear and face.,0
995,What a piece of junk.. I lose more calls on this phone.,0
996,Item Does Not Match Picture.,0
997,The only thing that disappoint me is the infra red port (irda).,0
998,You can not answer calls with the unit,never worked once!

In [14]:
data['0'].value_counts()#those with positive remarks are 387 given the label 1, and 383 for those with negative remarks

1                                 387
0                                 383
 then this phone is for you!        2
 the battery drains superfast.      1
 not only was it NOT snug           1
                                 ...
 left or right                      1
 Its that simple !                  1
 car chargers                       1
 but this one is the best.          1
 never worked once!                 1
Name: 0, Length: 230, dtype: int64

In [15]:
data.rename(columns={'So there is no way for me to plug it in here in the US unless I go by a converter.':'Text','0':'Label'},inplace =True)

In [16]:
data.head()

,Text,Label,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Good case,Excellent value.,1,NaN,NaN,NaN
1,Great for the jawbone.,1,NaN,NaN,NaN,NaN
2,Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!,0,NaN,NaN,NaN,NaN
3,The mic is great.,1,NaN,NaN,NaN,NaN
4,I have to jiggle the plug to get it to line up right to get decent volume.,0,NaN,NaN,NaN,NaN

In [17]:
data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5'],axis=1)

,Text,Label
0,Good case,Excellent value.
1,Great for the jawbone.,1
2,Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!,0
3,The mic is great.,1
4,I have to jiggle the plug to get it to line up right to get decent volume.,0
...,...,...
994,The screen does get smudged easily because it touches your ear and face.,0
995,What a piece of junk.. I lose more calls on this phone.,0
996,Item Does Not Match Picture.,0
997,The only thing that disappoint me is the infra red port (irda).,0
998,You can not answer calls with the unit,never worked once!

In [18]:
data['Label'].value_counts()

1                                 387
0                                 383
 then this phone is for you!        2
 the battery drains superfast.      1
 not only was it NOT snug           1
                                 ...
 left or right                      1
 Its that simple !                  1
 car chargers                       1
 but this one is the best.          1
 never worked once!                 1
Name: Label, Length: 230, dtype: int64

In [22]:
# We do tokenization
sample_text =data.Text[3]
sample_text

'The mic is great.'

In [23]:
from nltk import word_tokenize

In [25]:
#sample_token =word_tokenize(sample_text)
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\beind\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [26]:
sample_token =word_tokenize(sample_text)

In [29]:
sample_token[:10]

['The', 'mic', 'is', 'great', '.']

In [33]:
from nltk import bigrams

sample_bigram = list(bigrams(sample_token))

sample_bigram[:2]

[('The', 'mic'), ('mic', 'is')]

In [34]:
from nltk import FreqDist

In [35]:
sample_fredist = FreqDist(sample_token)

sample_fredist.most_common(3)

[('The', 1), ('mic', 1), ('is', 1)]

In [45]:
#Much of the sampling of the sentiments. Now lets turn this information to a machine learning algorithm, that is what we do best
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer

def top_n_tokens(Text, Label, n):
    lr = LogisticRegression(solver = 'lbfgs', max_iter = 2500, random_state = 1234)
    cv = CountVectorizer()
    
    data_matrix = cv.fit_transform(Text)
    
    lr.fit(data_matrix, Text)
    
    coefs = lr.coef_[0]
    
    features = cv.get_feature_names_out()
    
    df = pd.DataFrame({'Tokens' : features, 'Coefficients' : coefs})
    
    return df.nlargest(n, 'Coefficients')

top_n_tokens(data.Text, data.Label, 10)

         Tokens  Coefficients
373   definitly      0.989171
1128  recommend      0.939472
429    drawback     -0.000037
785         let     -0.000037
803        lock     -0.000037
999       pause     -0.000037
1255       skip     -0.000037
1285      songs     -0.000037
164      bitpim     -0.000047
1069    program     -0.000047

In [46]:
def bottom_n_tokens(Text, Label, n):
    lr = LogisticRegression(solver = 'lbfgs', max_iter = 2500, random_state = 1234)
    cv = CountVectorizer()
    
    data_matrix = cv.fit_transform(Text)
    
    lr.fit(data_matrix, Text)
    
    coefs = lr.coef_[0]
    
    features = cv.get_feature_names_out()
    
    df = pd.DataFrame({'Tokens' : features, 'Coefficients' : coefs})
    
    return df.nsmallest(n, 'Coefficients')

bottom_n_tokens(data.Text, data.Label, 10)

     Tokens  Coefficients
1366    the     -0.227035
732      it     -0.155407
1380   this     -0.144345
731      is     -0.126967
83      and     -0.114697
1015  phone     -0.093880
1400     to     -0.085250
624   great     -0.084864
898      my     -0.072270
567     for     -0.071823

In [48]:
pip install textblob

Note: you may need to restart the kernel to use updated packages.Collecting textblob

WARNING: Ignoring invalid distribution -atplotlib (c:\users\beind\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\beind\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\beind\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\beind\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\beind\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\beind\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\beind\anaconda3\lib\site-packages)

  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     -------------------------------------- 636.8/636.8 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: nltk>=3.1 in c:\users\beind\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: tqdm in c:\users\beind\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\beind\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: joblib in c:\users\beind\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: click in c:\users\beind\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: colorama in c:\users\beind\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [51]:
from textblob import TextBlob

def polarity_subjectivity(Text = sample_text, print_results = False):
    # Create an instance of TextBlob
    tb = TextBlob(Text)
    
    # If the condition is met, print the results, otherwise, return the tuple
    if print_results:
        print(f"Polarity is {round(tb.sentiment[0], 2)} and subjectivity is {round(tb.sentiment[1], 2)}.")
    else:
        return(tb.sentiment[0], tb.sentiment[1])
    
# Test the function on our sample
polarity_subjectivity(sample_text, print_results = True)

Polarity is 0.8 and subjectivity is 0.75.

In [54]:
from nltk import word_tokenize

# Define the first function that counts the number of tokens in a given string
def token_count(string):
    return len(word_tokenize(string))

# Define the second function that applies the token_count function to a given Pandas Series
def series_tokens(series):
    return series.apply(token_count)

# Apply the function to the top 10 rows of the dataframe
series_tokens(data.Text.head(10))

0     2
1     5
2    13
3     5
4    18
5     9
6    11
7     3
8     9
9     7
Name: Text, dtype: int64

In [55]:
def series_polarity_subjectivity(series):
    return series.apply(polarity_subjectivity)

# Apply to the top 10 rows of the df['text']
series_polarity_subjectivity(data['Text'].head(10))

0                    (0.7, 0.6000000000000001)
1                                  (0.8, 0.75)
2                             (0.390625, 0.25)
3                                  (0.8, 0.75)
4    (0.22619047619047616, 0.6011904761904762)
5                                   (0.0, 0.0)
6                                   (0.0, 0.0)
7                                  (-0.5, 1.0)
8                                 (-0.25, 0.0)
9                  (0.6000000000000001, 0.575)
Name: Text, dtype: object

In [57]:
def complexity(string):
    # Create a list of all tokens
    total_tokens = word_tokenize(string)
    
    # Create a set of all tokens (which only keeps unique values)
    unique_tokens = set(word_tokenize(string))
    
    # Return the complexity measure
    return len(unique_tokens) / len(total_tokens)

# Apply to the top 10 rows of the dataframe
data.Text.head(10).apply(complexity)

0    1.000000
1    1.000000
2    0.923077
3    1.000000
4    0.777778
5    0.888889
6    0.909091
7    1.000000
8    1.000000
9    1.000000
Name: Text, dtype: float64

In [60]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\beind\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [61]:
from nltk.corpus import stopwords
def stopword_remover(string):
    # Tokenize the string
    tokens = word_tokenize(string)
    
    # Create a list of English stopwords
    english_stopwords = stopwords.words('english')
    
    # Return non-stopwords
    return [w for w in tokens if w.lower() not in english_stopwords]

# Apply to the top 5 rows of our df['text']
data.Text.head(5).apply(stopword_remover)

0                                                                  [Good, case]
1                                                           [Great, jawbone, .]
2    [Tied, charger, conversations, lasting, 45, minutes.MAJOR, PROBLEMS, !, !]
3                                                               [mic, great, .]
4                      [jiggle, plug, get, line, right, get, decent, volume, .]
Name: Text, dtype: object

In [67]:
def stopword_nonalpha_remover(string):
    return [x for x in stopword_remover(string) if x.isalpha()]

data.Text.head(10).apply(stopword_nonalpha_remover)

0                                             [Good, case]
1                                         [Great, jawbone]
2        [Tied, charger, conversations, lasting, PROBLEMS]
3                                             [mic, great]
4    [jiggle, plug, get, line, right, get, decent, volume]
5             [several, dozen, several, hundred, contacts]
6                                      [Razr, owner, must]
7                                          [Needless, say]
8                                     [waste, money, time]
9                                  [sound, quality, great]
Name: Text, dtype: object

In [72]:
def complexity_cleaned(series):
    return series.apply(lambda x:complexity(' '.join(stopword_nonalpha_remover(x))))

# Add 'complexity' column to the dataframe
data['complexity'] = complexity_cleaned(data.Text)

# Return top 10 highest complexity scores
data.sort_values('complexity', ascending = False).head(5)

ZeroDivisionError: division by zero